In [1]:
from PosterAnalysis import analyse_img_from_url
import pandas as pd
from deepface import DeepFace
from deepface.detectors import FaceDetector
import yaml

with open("config.yml") as yml_file:
    config = yaml.safe_load(yml_file)

In [2]:
bechdel_df = pd.read_json('bechdel_data.json')
imdb_df = pd.read_json('tmdb_data.json')

In [3]:
imdb_df['imdb_id'] = imdb_df['imdb_id'].apply(lambda x: x[2:])

In [4]:
merged_df = pd.merge(bechdel_df,imdb_df,left_on='imdbid', right_on='imdb_id')

In [5]:
sample_df = merged_df.tail()

In [6]:
gender_detector = DeepFace.build_model("Gender")
face_detector = FaceDetector.build_model(config["detector_backend"])
age_detector = DeepFace.build_model("Age")
applied_df = sample_df.apply(lambda row: analyse_img_from_url(row['poster_path'], gender_detector=gender_detector, face_detector=face_detector, age_detector=age_detector), axis='columns', result_type='expand')
applied_df.columns = ['nb_women', 'nb_men', 'area_women', 'area_men']

[]
[['Man', 1485.0], ['Man', 3149.0], ['Man', 1530.0]]
[['Man', 115527.0]]
[['Man', 25403.0], ['Woman', 22125.0]]
[]

In [9]:
merged_df

,year,title_x,imdbid,id_x,rating,adult,backdrop_path,belongs_to_collection,budget,genres,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count
0,1984,C.H.U.D.,0087015,9327,2,False,/zY9ahWKd9wVgQ6Rj5iL2zo0UvOt.jpg,"{'id': 257571, 'name': 'C.H.U.D. Collection', ...",1250000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",...,1984-08-31,3412497,97.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They're not staying down there anymore!,C.H.U.D.,False,5.6,190
1,1955,Les grandes manoeuvres,0048133,7878,3,False,/euSjkZqmCsONd8k5RMDLiGvxYhN.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,1955-10-25,0,106.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,The Grand Maneuver,False,6.3,21
2,1964,King &amp; Country,0058263,3250,0,False,/wd7Hsv0jKGN8pmiM3WZ5SkB2nTu.jpg,None,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",...,1964-09-05,0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The most intense excitement you have ever expe...,King and Country,False,7.0,40
3,2002,"Coast Guard, The",0341384,3163,1,False,/greamH3Xe4jvAySICzV167yfZ5r.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",...,2002-11-22,0,96.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,There is a line that cannot be crossed.,The Coast Guard,False,6.5,59
4,1965,Daikaiju Gamera,0059080,6428,2,False,/af2NRHoBUNKrPTQCBQ33yuv4Mw8.jpg,"{'id': 161766, 'name': 'Gamera (Showa) Collect...",360000,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",...,1965-11-27,0,79.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Striking down jets, grabbing hold of the Tokyo...","Gamera, the Giant Monster",False,6.1,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8335,1954,Gojira,0047034,5505,1,False,/tWeQvXUaFoS0IP5anj7pdRsP6xF.jpg,"{'id': 374509, 'name': 'Godzilla (Showa) Colle...",900000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",...,1954-11-03,2250000,96.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,"Godzilla, a weapon of science, a great battle ...",Godzilla,False,7.6,644
8336,2005,"Devil&#39;s Rejects, The",0395584,3628,3,False,/9OvbJLn7pMDE7bnydHjpqfly8X2.jpg,"{'id': 105625, 'name': 'Firefly Collection', '...",7000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",...,2005-07-22,20901859,107.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,Hell doesn't want them. Hell doesn't need them...,The Devil's Rejects,False,6.8,1077
8337,2008,Solo Quiero Caminar,1078600,7381,3,False,/4ZVPwSYvgMT0FYw0dMUXwvJsSYL.jpg,"{'id': 847984, 'name': 'Gloria Duque - Colecci...",19000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",...,2008-10-31,0,129.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,"Alone they walked, together they killed",Walking Vengeance,False,5.3,19
8338,2009,Le h&eacute;risson,1442519,2439,3,False,/yxtd1hAb8Ui6ppG9CGuIfTDhO0f.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,2009-07-01,0,100.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Let Life In.,The Hedgehog,False,7.3,322
8339,1960,Les yeux sans visage,0053459,656,3,False,/xvmcOdrQU3VgGQFXwo6gVeK2o3a.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",...,1960-01-11,58656,84.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Beautiful women were the victims of his FIENDI...,Eyes Without a Face,False,7.6,500